<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        public interface UserMapper {
            List<Users> getAllUsers();
        }
        @MapperScan(basePackages = "com.example.mybatis.mapper")
        @SpringBootApplication
        public class MybatisApplication {
            public static void main(String[] args) {
                SpringApplication.run(MybatisApplication.class, args);
             }
        }

        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="namespace">
</mapper>

