<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.example.restful.mapper.AccountMapper">
    <select id="getAccountByUsername"
            resultType="com.example.restful.model.Account">
        select * from account where username = #{username};
    </select>
    <select id="getAccountRoleById" resultType="com.example.restful.model.Role">
        select * from role where id in(select rid from account_role where aid = #
        {id});
    </select>
</mapper>