<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mydatis.mapper.userMapper">
 <select id="getAllUsers" resultType="com.example.mybatis.bean.Users">
select * from user;
</select>
 <select id="getUsersById" resultType="com.example.mydatis.bean.users">
select * from user where id =#{id}
 </select>
 <insert id="addUser" parameterType="com.example.mydatis.bean.users">
  insert into user(username,address) values (#{username},#{address});
 </insert>
 <update id="updateUser" parameterType="com.example.mydatis.bean.users">
  update user set usernaem = #{username} where user.id = #{id};
 </update>
 <delete id="deleteUser" parameterType="com.example.mydatis.bean.users">
  delete from user where user.id = #{id};
 </delete>
</mapper>