<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scpu.homework02.face.UserMapper">
    <select id="getAllUser" resultType="org.scpu.homework02.bean.User">
        select * from user
    </select>
   <select id="getUser" resultType="org.scpu.homework02.bean.User">
      select * from user where username = #{username}
    </select>
    <insert id="insertUser"  parameterType="org.scpu.homework02.bean.User" >
        insert into user (username, password) values ( #{username}, #{password})
    </insert>
    <update id="updateUser" parameterType="org.scpu.homework02.bean.User">
        update user set password = #{password} where username = #{username}
    </update>
    <delete id="deleteUser" parameterType="org.scpu.homework02.bean.User">
        delete from user where username = #{username}
    </delete>
</mapper>
